// variables - basic colors
$dark: #272a31;
$light: #d3d3d3;
$primary: #ec5242;

// variables - fonts
$cocogoose: 'COCOGOOSE', sans-serif;
$lato: 'Lato', sans-serif;

// variables - width limits
$min-width: 375px;
$max-width: 1440px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg-white {
  background-color: white;
}

.fg-white {
  color: white;
}

.bg-dark {
  background-color: $dark;
}

.fg-dark {
  color: $dark;
}

.bg-light {
  background-color: $light;
}

.fg-light {
  color: $light;
}

.bg-primary {
  background-color: $primary;
}

.fg-primary {
  color: $primary;
}

.cocogoose {
  font-family: $cocogoose;
}

.lato {
  font-family: $lato;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.separator {
  width: 53px;
  height: 16px;
  border-bottom: $primary 2px solid;
  margin-bottom: 54px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  min-width: $min-width;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: $max-width;
}

// nav & menu
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: $max-width;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: $max-width;
  width: 100vw;
  padding: 16px;
}

.menu-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.menu-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
}

.section-title {
  margin-bottom: 0;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('../images/mobile-intro-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.event-welcome {
  font-size: 24px;
  color: $primary;
}

.event-title {
  font-family: $cocogoose;
  font-size: 30px;
  color: $primary;
  margin: 0;
}

.event-message {
  font-size: 13px;
  line-height: 150%;
  padding: 13px 6.5px;
  text-align: justify;
  border: white 4px solid;
  background-color: #f7f7f8;
}

.event-dates {
  font-family: $cocogoose;
  font-size: 24px;
  margin: 0;
}

.event-organizer {
  font-size: 16px;
  margin: 0 0 50px 0;
}

.program {
  color: white;
  background-image: url('../images/pattern-bg.png');
  background-repeat: repeat;
  background-color: $dark;
}

.program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.program-item {
  display: table;
  position: relative;
  vertical-align: middle;
  height: auto;
  overflow: auto;
  float: left;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
  width: 90vw;
}

.program-icon {
  float: left;
  vertical-align: middle;
  display: inline-block;
  height: 58px;
  position: relative;
}

.program-title {
  float: left;
  text-align: center;
  font-size: 14px;
  width: 26%;
  padding-left: 7px;
  line-height: 52px;
  color: $primary;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  height: 58px;
  position: relative;
}

.program-description {
  width: calc(74% - 6.5em);
  float: left;
  font-size: 12px;
  padding: 12px 0 8px 0;
  text-align: left;
  word-break: keep-all;
  overflow: auto;
  height: auto;
  line-height: 1.5em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}

.program-join {
  text-align: center;
  color: white;
  background-color: $primary;
  padding: 30px;
}

.stories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.story-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}

.story-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.story-title {
  font-size: 22px;
  font-weight: bold;
}

.story-teller {
  font-size: 14px;
  font-weight: bold;
}

.story-hashtag {
  font-size: 13px;
  color: $primary;
  font-weight: bold;
}

.story-team {
  font-size: 13px;
  margin-top: 8px;
}

.story-members {
  font-size: 13px;
  margin-top: 4px;
}
